<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2>Datos del alumno {{ estudiante.0.1 }} {{estudiante.0.2}} {{estudiante.0.3}}</h2>
    <form action="" , method="POST">
        <!-- Datos del estudiante -->
        Nombre Actual: <input type="text" name="nombre" placeholder="{{ estudiante.0.1 }}">
        Apellido Paterno Actual: <input type="text" name="apellido_p" placeholder=" {{ estudiante.0.2 }}">
        Apellido Materno Actual: <input type="text" name="apellido_m" placeholder=" {{ estudiante.0.3 }}"><br>
        Grado Actual: <input type="text" name="grado" placeholder=" {{ estudiante.0.4 }}">
        Edad Actual: <input type="text" name="edad" placeholder=" {{ estudiante.0.5 }}">
        Nombre Actual del Padre ó Tutor: <input type="text" name="nombre_tutor" placeholder=" {{ estudiante.0.6 }}"><br>
        Teléfono Actual: <input type="text" name="telefono" placeholder="{{ estudiante.0.7 }}">
        Estado Actual: <input type="text" name="estado" placeholder=" {{ estudiante.0.9 }}"><br>
        <button type="submit"> Actualizar </button>
    </form>
    <a href="/admin">Regresar</a>
</body>

</html>