{% extends "layout.html" %} {% block navbar %}
<ul class="sidenav" id="mobile-demo">
    <li><a href="/salir">Cerrar Sesion</a></li>
    <li> <a class='dropdown-trigger' href='#' data-target='dropdown1'>Registro Nuevo <i class="material-icons">add_circle</i></a></li>
    <li> <a class='dropdown-trigger' href='#' data-target='dropdown2'>Control de Alumnos <i class="material-icons">account_circle</i></a></li>
    <li> <a class='dropdown-trigger' href='#' data-target='dropdown3'>Control de Profesores <i class="material-icons">contacts</i></a></li>
    <li><a class='dropdown-trigger' href='#' data-target='dropdown4'>Opciones Avanzadas <i class="material-icons">enhanced_encryption</i></a></li>
</ul> {% endblock %} {% block content %}
<div class="container">
    <h1 class="center">Administración</h1>
    <div class="row">
        <div class="col s12">
            <div class="card-panel teal lighten-2">
                <span class="white-text">
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel blue">
                                <br>En esta ventana se Pueden realizar cambios correspondientes a los Alumnos, profesores, materias y cuestiones adminsitrativas de la escuela<br>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="card-panel green">
                                <h3 class="center">Registrar </h3> <a class='dropdown-trigger btn' href='#' data-target='dropdown1'><div class="col m13 hide-on-small-only">Registro Nuevo </div><i class="material-icons">add_circle</i> </a><br> <br>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="card-panel yellow">
                                <h3 class="center">Alumnos</h3><a class='dropdown-trigger btn' href='#' data-target='dropdown2'><div class="col m13 hide-on-small-only">Control de Alumnos</div><i class="material-icons">account_circle</i> </a> <br> <br>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="card-panel amber">
                                <h3 class="center">Profesores</h3><a class='dropdown-trigger btn' href='#' data-target='dropdown3'><div class="col m13 hide-on-small-only">Control de Profesores</div><i class="material-icons">contacts</i> </a><br> <br>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="card-panel cyan">
                                <h3 class="center">Opciones</h3><a class='dropdown-trigger btn' href='#' data-target='dropdown4'><div class="col m13 hide-on-small-only">Opciones Avanzadas</div><i class="material-icons">enhanced_encryption</i></a><br> <br>
                            </div>
                        </div>
                    </div>
            </span>
            </div>
        </div>
    </div>
</div>

<ul id='dropdown1' class='dropdown-content'>
    <li class="divider" tabindex="-1"></li>
    <li><a href="/alumno/registraralumno"><i class="material-icons left">local_library</i>Alumno</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="/profesor/registroprofesor"><i class="material-icons left">assignment_ind</i>Profesor</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="/materia"><i class="material-icons left">class</i>Materia</a></li>
</ul>

<ul id='dropdown2' class='dropdown-content'>
    <li class="divider" tabindex="-1"></li>
    <li> <a href="/verAlumno/{{ g.0 }}"><i class="material-icons left">local_library</i>K1</a></li>
    <li> <a href="/verAlumno/{{ g.1 }}"><i class="material-icons left">local_library</i>K2</a></li>
    <li><a href="/verAlumno/{{ g.2 }}"><i class="material-icons left">local_library</i>K3</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="/verAlumno/{{ g.3 }}"><i class="material-icons left">local_library</i>1°</a></li>
    <li><a href="/verAlumno/{{ g.4 }}"><i class="material-icons left">local_library</i>2°</a></li>
    <li><a href="/verAlumno/{{ g.5 }}"><i class="material-icons left">local_library</i>3°</a></li>
    <li><a href="/verAlumno/{{ g.6 }}"><i class="material-icons left">local_library</i>4°</a></li>
    <li><a href="/verAlumno/{{ g.7 }}"><i class="material-icons left">local_library</i>5°</a></li>
    <li><a href="/verAlumno/{{ g.8 }}"><i class="material-icons left">local_library</i>6°</a></li>
</ul>

<ul id='dropdown3' class='dropdown-content'>
    <li class="divider" tabindex="-1"></li>
    <li><a href="/verProfesor/1"><i class="material-icons left">group</i>Grupo</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="/verProfesor/2"><i class="material-icons left">group_add</i>Extracurricular</a></li>
</ul>

<ul id='dropdown4' class='dropdown-content'>
    <li class="divider" tabindex="-1"></li>
    <li><a href="/correos"><i class="material-icons left">mail</i>Enviar Correos</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#"><i class="material-icons left">attach_money</i>Pagos</a></li>
</ul>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);
    });
</script>
{% endblock %}