<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adminsitración</title>
    <h1>Registrar </h1>
    <a href="/alumno/registraralumno">Registrar Alumno</a>
    <a href="/profesor/registroprofesor">Registrar Profesor</a>
    <a href="/materia">Registrar Materia</a>

    <div>
        <h2>Ver Alumnos Registrados</h2>
        <a href="/verAlumno">Kinder 1</a>
        <a href="/verAlumno">Kinder 2</a>
        <a href="/verAlumno">Kinder3</a>
        <a href="/verAlumno">1ro de Primaria</a>
        <a href="/verAlumno">2do de Primaria</a>
        <a href="/verAlumno">3ero de Primaria</a>
        <a href="/verAlumno">4to de Primaria</a>
        <a href="/verAlumno">5to de Primaria</a>
        <a href="/verAlumno">6to de Primaria</a>
    </div>

    <div>
        <h2>Ver profesores Registrados</h2>
    </div>

    <div>
        <h2>Ver </h2>
    </div>
</head>
<body>
    
</body>
</html>