<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adminsitración</title>
    <h1>Registrar </h1>
    <a href="/alumno/registraralumno">Registrar Alumno</a>
    <a href="/profesor/registroprofesor">Registrar Profesor</a>
    <a href="/materia">Registrar Materia</a>

    <div>
        <!--Se recibe el numero del grado y accede a la base-->
        <h2>Ver Alumnos Registrados</h2>
        <a href="/verAlumno/{{ g.0 }}">Kinder 1</a>
        <a href="/verAlumno/{{ g.1 }}">Kinder 2</a>
        <a href="/verAlumno/{{ g.2 }}">Kinder3</a>
        <a href="/verAlumno/{{ g.3 }}">1ro de Primaria</a>
        <a href="/verAlumno/{{ g.4 }}">2do de Primaria</a>
        <a href="/verAlumno/{{ g.5 }}">3ero de Primaria</a>
        <a href="/verAlumno/{{ g.6 }}">4to de Primaria</a>
        <a href="/verAlumno/{{ g.7 }}">5to de Primaria</a>
        <a href="/verAlumno/{{ g.8 }}">6to de Primaria</a>
    </div>

    <div>
        <h2>Ver profesores Registrados</h2>
        <a href="/verProfesor">Ver Todos los profesores</a>
    </div>

    <div>
        <h2>Ver Pagos</h2>
    </div>
</head>

<body>

</body>

</html>