{% extends "layout.html" %} {% block content %}
<title>Avisos del grupo {{ grupo }}</title>
<div class="container">
    <h1>Avisos del Grupo de {{ grupo }}</h1>
    <!--=========================== INICIO Grupo de K1============================-->
    {% if grupo=="K1" %} estas en el K1
    <div>
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">K1 Apoyo Pedagogico <i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://youtu.be/Ri3SSrezJMc" class="waves-effect waves-light btn-small">Link del Video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Apoyo Pedagogico para Grupo de K1<i class="material-icons right">close</i></span>
                <p>¡Las clases no paran!, con el fin de brindar apoyo a distancia a nuestro alumnos, la profesora Imdela ha preparado el sigueinte video</p>
            </div>
        </div>
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">K1 Video Clase Por Skype<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=tSz1H3FYQxg&feature=youtu.be" class="waves-effect waves-light btn-small"> Link del Video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Apoyo Pedagogico para Grupo de K1<i class="material-icons right">close</i></span>
                <p>¡Las clases no paran!, con el fin de brindar apoyo a distancia a nuestro alumnos, la profesora Imdela ha preparado el sigueinte video, el cual fue una videoclase por Skype</p>
            </div>
        </div>
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">K1 Clase 20 de Abril 2020 <i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=1FHuna0PGoc&feature=youtu.be" class="waves-effect waves-light btn-small">Link del video de Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Clase del 20 de Abril<i class="material-icons right">close</i></span>
                <p>¡Las clases no paran!, con el fin de brindar apoyo a distancia a nuestro alumnos, la profesora Imdela ha preparado el sigueinte video</p>
            </div>
        </div>
        <!--========================Video de computacion=========================-->
        <div class="card indigo accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Computacion K1<i class="material-icons right">more_vert</i></span>
                <p>
                    <a class="waves-effect waves-light btn-small">Link del video en Google Drive</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Computación de Kinder 1 <i class="material-icons right">close</i></span>
                <p> No hay Material, contácte con el profesor.
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de computacion=========================-->
        <!--========================Video de Ingles=========================-->
        <div class="card deep-purple accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inglés K1 Clase 1<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=3jospiKbMhM" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Inglés de Kinder 1<i class="material-icons right">close</i></span>
                <p>Tema: Partes de la cara y el cuerpo, animales, los saludos, números del 1 al 10.
                </p>
            </div>
        </div>
        <div class="card deep-purple accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inglés K1 Clase 2<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=kanejHoWNbg" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Inglés de Kinder 1 Clase 2<i class="material-icons right">close</i></span>
                <p>Tema: Vocal A, What color is the sky?, Días de la semana, números del 1 al 10, letra A, número 11.
                </p>
            </div>
        </div>
        <!--========================FIN Video de Ingles=========================-->
    </div>

    {% endif %}
    <!--===========================FIN Grupo de K1============================-->
    <!--=========================== INICIO Grupo de K2============================-->
    {% if grupo=="K2" %}
    <h2 class="center">Avisos en {{ grupo }}</h2>
    <div>
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">K2<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=4OLXt46LElA&feature=youtu.be" class="waves-effect waves-light btn-small">Clase de K2</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Video Clase K2<i class="material-icons right">close</i></span>
                <p>¡Las Clases No paran!, Con el fin de poder brindar una eduación a distancia, la maestra Claudia Miriam Alvarez, pone a disposición el sisgueinte video <br> En el se conllevan las actividades a realizar y las instruacciones que se toman</p>
            </div>
        </div>
        <!--========================Video de computacion=========================-->
        <div class="card indigo accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Computacion K2<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="" class="waves-effect waves-light btn-small">Link del video en Google Drive</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Computación de Kinder 2 <i class="material-icons right">close</i></span>
                <p> No hay Material, contácte con el profesor.
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de computacion=========================-->
        <!--========================Video de Ingles=========================-->
        <div class="card deep-purple accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inglés K2 Clase 1<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=Ao2rdya7AH4" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Inglés de Kinder 2 Clase 1<i class="material-icons right">close</i></span>
                <p>Tema: Vocales, Números del 1 al 10, los saludos
                </p>
            </div>
        </div>
        <div class="card deep-purple accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inglés K2 Clase 2<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=BFpRG_jfHuk" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Inglés de Kinder 2 Clase 2<i class="material-icons right">close</i></span>
                <p>Tema: Objetos de escuela, , numero 11 y 12, What is your name?, números del 1 al 10, colores
                </p>
            </div>
        </div>
        <!--========================FIN Video de Ingles=========================-->
    </div>
    {% endif %}
    <!--===========================FIN Grupo de K2============================-->

    <!--=========================== INICIO Grupo de K3============================-->
    {% if grupo=="K3" %}
    <h2 class="center">Avisos en {{ grupo }}</h2>
    <div>
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Clase en Línea K3<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=_ZtLZ8h5AU4&feature=youtu.be" class="waves-effect waves-light btn-small">Link a la clase en Línea</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Clases K3<i class="material-icons right">close</i></span>
                <p>La profesora Amanda Montero, ha puesto a su disposición, el sigueinte video con actividades en línea</p>
            </div>
        </div>
        <!--========================Video de computacion=========================-->
        <div class="card indigo accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Computacion K3<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="" class="waves-effect waves-light btn-small">Link del video en Google Drive</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Computación de Kinder 3 <i class="material-icons right">close</i></span>
                <p> No hay Material, contácte con el profesor.
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de computacion=========================-->
        <!--========================Video de Ingles=========================-->
        <div class="card deep-purple accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inglés K3 Clase 1<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=VyKZ6_d_x5E" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Inglés de Kinder 3 Clase 1<i class="material-icons right">close</i></span>
                <p>Tema: Transportes, Opuestos: rápido y lento, los saludos.
                </p>
            </div>
        </div>
        <div class="card deep-purple accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inglés K3 Clase 2<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=Dd52Gh4hSqE" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Inglés de Kinder 3 Clase 2 <i class="material-icons right">close</i></span>
                <p>Tema: Opuestos, partes de la cara y cuerpo, letra B, número, colores.
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    <!--===========================FIN Grupo de K3============================-->

    <!--=========================== INICIO Grupo de 1ro============================-->
    {% if grupo=="1ro" %}
    <div>
        <!--===================Video de la Maestra de grado=================-->
        <h2 class="center">Avisos en {{ grupo }}</h2>
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Clases en Línea 1°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="#" class="waves-effect waves-light btn-small">Link al material en Línea</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">1° de Primaria<i class="material-icons right">close</i></span>
                <p>
                    No hay material Disponible, contacte con el profesor@
                </p>
            </div>
        </div>
        <!--========================Video de la Maestra de grado=========================-->
        <!--========================Video de la Maestra de ingles=========================-->
        <div class="card deep-purple accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inglés 1<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=Je0RAopGWKQ" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Inglés de 1° de Primaria<i class="material-icons right">close</i></span>
                <p>¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia, Teacher Gaby ha puesto en marcha una serie de Actividades. <br> Se les recomienda seguir las Actividades en Google Classroom y se les proporciona el sigueinte Link:
                    https://edu.google.com/intl/es-419/products/classroom/?modal_active=none <br> Clave para accesar a la clase: q5gjg46
                </p>
            </div>
        </div>
        <!--========================Video de la Maestra de ingles=========================-->
        <!--========================Video de computacion=========================-->
        <div class="card indigo accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Computacion 1°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://drive.google.com/open?id=12NVHNqD6Nv5hAK50qeunsaX3g4KGDBbI" class="waves-effect waves-light btn-small">Link del video en Google Drive</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Computación de 1° <i class="material-icons right">close</i></span>
                <p> Edgar Suarez <br> Computacion <br> (1,2,3) Introduccion Excel
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de computacion=========================-->
        <!--========================Video de Artes Plásticas=========================-->
        <div class="card green darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Artes 1°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=sGFd6BAmAe4 " class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Artes de 1° <i class="material-icons right">close</i></span>
                <p> Primero de primaria.Técnica de mosaico
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Artes Plásticas=========================-->
        <!--========================Video de Música=========================-->
        <div class="card lime darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Música 1°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=La_-M5EH7PQ&feature=youtu.be" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Música 1° <i class="material-icons right">close</i></span>
                <p> El profesor Gerardo ha subido una serie de actividades para los niños de la escuela
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Música=========================-->
    </div>
    {% endif %}
    <!--===========================FIN Grupo de 1ro============================-->

    <!--=========================== INICIO Grupo de 2do============================-->
    {% if grupo=="2do" %}
    <div>
        <h2 class="center">Avisos en {{ grupo }}</h2>
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Clases en Línea 2do<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="#" class="waves-effect waves-light btn-small">Link al material</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Clases en Linea para 2°<i class="material-icons right">close</i></span>
                <p>
                    No hay material, favor de contactarse con el profesor
                </p>
            </div>
        </div>
        <!--========================Video de la Maestra de ingles=========================-->
        <div class="card deep-purple accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inglés 2<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=87s6KG_shrA&feature=youtu.be" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Inglés de 2° de Primaria<i class="material-icons right">close</i></span>
                <p>¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia, Teacher Gaby ha puesto en marcha una serie de Actividades. <br> Se les recomienda seguir las Actividades en Google Classroom y se les proporciona el sigueinte Link:
                    https://edu.google.com/intl/es-419/products/classroom/?modal_active=none <br> Clave para accesar a la clase: 27mvtum
                </p>
            </div>
        </div>
        <!--========================Video de la Maestra de ingles=========================-->
        <!--========================Video de computacion=========================-->
        <div class="card indigo accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Computacion 2°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://youtu.be/RpHFGEpaFvo" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Computación de 2°<i class="material-icons right">close</i></span>
                <p> Edgar Suarez <br> Computacion <br> (1,2,3) Introduccion Excel
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de computacion=========================-->
        <!--========================Video de Artes Plásticas=========================-->
        <div class="card green darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Artes 2°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=sGFd6BAmAe4" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Artes de 2° <i class="material-icons right">close</i></span>
                <p>Segundo de primaria. <br> Introducción y desarrollo Técnica de café soluble
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Artes Plásticas=========================-->
        <!--========================Video de Artes Plásticas=========================-->
        <div class="card green darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Artes 2° (Continuacion)<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=dWmEt5fdcr0" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Artes de 2° <i class="material-icons right">close</i></span>
                <p>Segundo de primaria. <br> Introducción y desarrollo Técnica de café soluble
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Artes Plásticas=========================-->
        <!--========================Video de Música=========================-->
        <div class="card lime darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Música 2°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=WAYdCOtNIbA&feature=youtu.be" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Música 2° <i class="material-icons right">close</i></span>
                <p> El profesor Gerardo ha subido una serie de actividades para los niños de la escuela
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Música=========================-->
    </div>
    {% endif %}
    <!--===========================FIN Grupo de 2do============================-->

    <!--=========================== INICIO Grupo de 3ro============================-->
    {% if grupo=="3ro" %}
    <div>
        <h2 class="center">Avisos en {{ grupo }}</h2>
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Clases 3° de Primaria<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://drive.google.com/file/d/1scCRuAmS2wRy5HE4_ix5Pp3IEfG-nKk8/view?usp=drivesdk" class="waves-effect waves-light btn-small">Link al material de 3°</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Clases 3°<i class="material-icons right">close</i></span>
                <p>
                    La Profesora Magdalena ha puesto a su disposición la siguiente guia de estudios para sus alumnos <br> Se les pide de favor que suban las fotos o PDF de sus guias resueltas al sigueinte enlace en Google Drive, por favor suban archivos
                    o fotos de una calidad clara, de modo contrario no se les contara su tarea. <br>
                    <a href="https://drive.google.com/open?id=1LRoPpVdGmuwCxmoDtJD9ItoNHNqFTDi8">Enlace</a>
                </p>
            </div>
        </div>
        <!--========================Video de la Maestra de ingles=========================-->
        <div class="card deep-purple accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inglés 3<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=_MNo8dRWu6w&feature=youtu.be" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Inglés de 3° de Primaria<i class="material-icons right">close</i></span>
                <p>¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia, Teacher Gaby ha puesto en marcha una serie de Actividades. <br> Se les recomienda seguir las Actividades en Google Classroom y se les proporciona el sigueinte Link:
                    https://edu.google.com/intl/es-419/products/classroom/?modal_active=none <br> Clave para accesar a la clase: ms5ejd4
                </p>
            </div>
        </div>
        <!--========================Video de la Maestra de ingles=========================-->
        <!--========================Video de computacion=========================-->
        <div class="card indigo accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Computacion 3°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://youtu.be/RpHFGEpaFvo" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Computación de 3° <i class="material-icons right">close</i></span>
                <p> Edgar Suarez <br> Computacion <br> (1,2,3) Introduccion Excel
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de computacion=========================-->
        <!--========================Video de Artes Plásticas=========================-->
        <div class="card green darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Artes 3° <i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=ndzRazmecqI" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Artes de 3° <i class="material-icons right">close</i></span>
                <p>Tercero de primaria Introducción y desarrollo.<br>Técnica de tinta de café
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Artes Plásticas=========================-->
        <!--========================Video de Artes Plásticas=========================-->
        <div class="card green darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Artes 3° (Continuacion)<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=s_kBRuqAZZI" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Artes de 3°(Continuacion) <i class="material-icons right">close</i></span>
                <p>Tercero de primaria Introducción y desarrollo.<br>Técnica de tinta de café
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Artes Plásticas=========================-->
        <!--========================Video de Música=========================-->
        <div class="card lime darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Música 3°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=xBbhazl094Y&feature=youtu.be" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Música 3° <i class="material-icons right">close</i></span>
                <p> El profesor Gerardo ha subido una serie de actividades para los niños de la escuela
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Música=========================-->
    </div>
    {% endif %}
    <!--===========================FIN Grupo de 3ro============================-->

    <!--=========================== INICIO Grupo de 4to============================-->
    {% if grupo=="4to" %}
    <div>
        <h2 class="center">Avisos en {{ grupo }}</h2>
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Clases en Línea para 4°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="#" class="waves-effect waves-light btn-small">Link al Video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Clases para 4°<i class="material-icons right">close</i></span>
                <p>
                    No hay material, contacte con el profesor
                </p>
            </div>
        </div>
        <!--========================Video de la Maestra de ingles=========================-->
        <div class="card deep-purple accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inglés 4<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=rAwyZaknoLc&feature=youtu.be" class="waves-effect waves-light btn-small">Link al Video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Inglés de 4° de Primaria<i class="material-icons right">close</i></span>
                <p>¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia, Teacher Gaby ha puesto en marcha una serie de Actividades. <br> Se les recomienda seguir las Actividades en Google Classroom y se les proporciona el sigueinte Link:
                    https://edu.google.com/intl/es-419/products/classroom/?modal_active=none <br> Clave para accesar a la clase: g5amygb
                </p>
            </div>
        </div>
        <!--========================Video de la Maestra de ingles=========================-->
        <!--========================Video de computacion=========================-->
        <div class="card indigo accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Computacion 4°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://youtu.be/ywsRyBiLh4Y" class="waves-effect waves-light btn-small">Link al Video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Computación de 4° <i class="material-icons right">close</i></span>
                <p> Edgar Suarez <br> Computacion <br> (4y5) Ejercicios de Geogebra
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de computacion=========================-->
        <!--========================Video de Artes Plásticas=========================-->
        <div class="card green darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Artes 4°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=Wt5nj_gD1bE&t=9s" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Artes de 4°<i class="material-icons right">close</i></span>
                <p>Clase 4to año paisaje de plastilina
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Artes Plásticas=========================-->
        <!--========================Video de Música=========================-->
        <div class="card lime darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Música 4°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=lx1hGg-B6yU&feature=youtu.be" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Música 4° <i class="material-icons right">close</i></span>
                <p> El profesor Gerardo ha subido una serie de actividades para los niños de la escuela
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Música=========================-->
    </div>
    {% endif %}
    <!--===========================FIN Grupo de 4to============================-->

    <!--=========================== INICIO Grupo de 5to============================-->
    {% if grupo=="5to" %}
    <div>
        <h2 class="center">Avisos en {{ grupo }}</h2>
        <!--=========================== Videos Grupo de 5to============================-->
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Clase 1 en Línea 5to Grado<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=rkqlbz7LiaY&feature=youtu.be" class="waves-effect waves-light btn-small">Link al Video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Clases de 5to <i class="material-icons right">close</i></span>
                <p>
                    Jaffany Meza Zendejas <br> Quinto grado <br> Tema: Sucesiones Numéricas 1
                </p>
            </div>
        </div>
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Clase 2 en Línea 5to Grado<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=NHNrx6oTLWM&feature=youtu.be" class="waves-effect waves-light btn-small">Link al Video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">2° Clases de 5to <i class="material-icons right">close</i></span>
                <p>
                    Jaffany Meza Zendejas<br> Quinto grado <br> Tema: Sucesión de figuras
                </p>
            </div>
        </div>
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Clase 3 en Línea 5to Grado<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=rLEDAaeXuqQ&feature=youtu.be" class="waves-effect waves-light btn-small">Link al Video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">3° Clases de 5to <i class="material-icons right">close</i></span>
                <p>
                    Jaffany Meza Zendejas<br> Quinto grado <br>Tema: Reconstrucción del relato histórico
                </p>
            </div>
        </div>
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Clase 4 en Línea 5to Grado<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=TIAykU0waIw&feature=youtu.be" class="waves-effect waves-light btn-small">Link al Video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">4° Clases de 5to <i class="material-icons right">close</i></span>
                <p>
                    Jaffany Meza Zendejas<br> Quinto grado <br>Tema: Reconstrucción del relato histórico (Continuacion)
                </p>
            </div>
        </div>
        <!--=========================== Videos Grupo de 5to============================-->
        <!--========================Vid<eo de la Maestra de ingles=========================-->
        <div class="card deep-purple accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inglés 5<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=t5dIsdAILGM&feature=youtu.be" class="waves-effect waves-light btn-small">Link al video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Inglés de 5° de Primaria<i class="material-icons right">close</i></span>
                <p>¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia, Teacher Gaby ha puesto en marcha una serie de Actividades. <br> Se les recomienda seguir las Actividades en Google Classroom y se les proporciona el sigueinte Link:
                    https://edu.google.com/intl/es-419/products/classroom/?modal_active=none <br> Clave para accesar a la clase: ingwh4d
                </p>
            </div>
        </div>
        <!--========================Video de la Maestra de ingles=========================-->
        <!--========================Video de computacion=========================-->
        <div class="card indigo accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Computacion 5°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://drive.google.com/open?id=15PHX9Sj0i8ms0HuRjSqy9Z8ULMePn42a" class="waves-effect waves-light btn-small">Link del video en Google Drive</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Computación de 5°<i class="material-icons right">close</i></span>
                <p>Edgar Suarez <br> Computacion <br> (4y5) Ejercicios de Geogebra
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de computacion=========================-->
        <!--========================Video de Artes Plásticas=========================-->
        <div class="card green darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Artes 5°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=Q6__kP_2uDg&t=6s" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Artes de 5°<i class="material-icons right">close</i></span>
                <p>Clase 5to mascara
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Artes Plásticas=========================-->
        <!--========================Video de Música=========================-->
        <div class="card lime darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Música 5°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=O7yuQ1Vk88s&feature=youtu.be" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Música 5° <i class="material-icons right">close</i></span>
                <p> El profesor Gerardo ha subido una serie de actividades para los niños de la escuela
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Música=========================-->
    </div>
    {% endif %}
    <!--===========================FIN Grupo de 5to============================-->

    <!--=========================== INICIO Grupo de 6to============================-->
    {% if grupo=="6to" %}
    <div>
        <h2 class="center">Avisos en {{ grupo }}</h2>
        <!--=====================================Maestra de grado============================-->
        <div class="card blue accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Clase en Línea 6°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="#" class="waves-effect waves-light btn-small">Link al video En Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Clase en 6°<i class="material-icons right">close</i></span>
                <p>No nay material, contacte con el profesor</p>
            </div>
        </div>
        <!--====================================Maestra de grado======================================0-->
        <!--========================Video de la Maestra de ingles=========================-->
        <div class="card deep-purple accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inglés 6<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=rAwyZaknoLc&feature=youtu.be" class="waves-effect waves-light btn-small">Link al Video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Inglés de 6° de Primaria<i class="material-icons right">close</i></span>
                <p>¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia, Teacher Gaby ha puesto en marcha una serie de Actividades. <br> Se les recomienda seguir las Actividades en Google Classroom y se les proporciona el sigueinte Link:
                    https://edu.google.com/intl/es-419/products/classroom/?modal_active=none <br> Clave para accesar a la clase: laete23
                </p>
            </div>
        </div>
        <!--========================Video de la Maestra de ingles=========================-->
        <!--========================Video de computacion=========================-->
        <div class="card indigo accent-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Computacion 6<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://youtu.be/4YchWFvmnTM" class="waves-effect waves-light btn-small">Link al video en Google Drive</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Computación de 6° de Primaria<i class="material-icons right">close</i></span>
                <p>¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica
                </p>
            </div>
        </div>
        <!--========================Video de computacion=========================-->
        <!--========================Video de Artes Plásticas=========================-->
        <div class="card green darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Artes 6°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=coESP99DNSg&t=12s" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Artes de 6°<i class="material-icons right">close</i></span>
                <p>Clase 6to mascara
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Artes Plásticas=========================-->
        <!--========================Video de Música=========================-->
        <div class="card lime darken-3">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Música 6°<i class="material-icons right">more_vert</i></span>
                <p>
                    <a href="https://www.youtube.com/watch?v=IkHX4o3oRWk&feature=youtu.be" class="waves-effect waves-light btn-small">Link del video en Youtube</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Música 6° <i class="material-icons right">close</i></span>
                <p> El profesor Gerardo ha subido una serie de actividades para los niños de la escuela
                </p>
                <!--¡Las Clases no Paran! Con el fin de poder brindar un servicio a distancia,el Profesor Edgar Suárez ha puesto en marcha un video de Introducción a la Electrónica-->
            </div>
        </div>
        <!--========================Video de Música=========================-->
    </div>
</div>
{% endif %}
<!--===========================FIN Grupo de 6to============================-->

{% endblock %}