{% extends "layout.html" %} {% block content %}
<title>Avisos del grupo {{ grupo }}</title>
<div class="container">
    <h1 class="center">Avisos del Grupo de {{ grupo }}</h1>
    <div class="row">
        {% if tarea %} {% for i in tarea %}
        <div class="col s12 m6">
            <!--Grado-->
            <!--Exclusivo K2-->
            {% if i.1=="Grado" and i.2=="K2" %}
            <div class="card pink accent-1">
                {% endif %}
                <!--Normal-->
                {% if i.1=="Grado" and i.2 != "K2" %}
                <div class="card blue accent-3">
                    {% endif %}
                    <!--Computacion-->
                    {% if i.1=="Compu"%}
                    <div class="card indigo accent-3">
                        {% endif %}
                        <!--Ingles-->
                        {% if i.1=="Ingles"%}
                        <div class="card deep-purple accent-3">
                            {% endif %}
                            <!--Artes-->
                            {% if i.1=="Artes"%}
                            <div class="card green darken-3">
                                {% endif %}
                                <!--Musica-->
                                {% if i.1=="Musica"%}
                                <div class="card lime darken-3 ">
                                    {% endif %}
                                    <!--TaeKwondo-->
                                    {% if i.1=="Tae"%}
                                    <div class="card lime orange accent-3">
                                        {% endif %}
                                        <!-- Modal Structure -->
                                        <div id="{{ i.0 }}" class="modal modal-fixed-footer blue lighten-4">
                                            <div class="modal-content">
                                                <h4>{{ i.3 }} {{ i.2 }}</h4>
                                                <p> {{ i.4 }} </p>
                                            </div>
                                            <div class="modal-footer blue lighten-4">
                                                <a class="waves-effect waves-light btn-small blue lighten-1" href="{{ i.5 }}" target="_blank" class="modal-close waves-effect waves-green btn-flat">Link 1 (Video)</a>
                                                <a class="waves-effect waves-light btn-small blue lighten-1" href="{{ i.7 }}" target="_blank" class="modal-close waves-effect waves-green btn-flat">Link 2 (Material)</a>
                                                <a href="#!" class="modal-close waves-effect waves-green btn-flat waves-effect waves-light btn-small">¡OK!</a>
                                            </div>
                                        </div>
                                        <div class="card-content white-text">
                                            <span class="card-title"> {{ i.2 }} {{ i.1 }} </span>
                                            <p> <a class="waves-effect waves-light btn modal-trigger" href="#{{ i.0 }}">{{ i.2 }} {{ i.3 }}</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %} {% if not tareas %}
                            <h3>No hay tareas disponibles</h3>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                        {% endif %}
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            var elems = document.querySelectorAll('.modal');
                            var instances = M.Modal.init(elems);
                        });
                    </script>
                    {% endblock %}