<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calificaciones Materias</title>
</head>
<h1>Califiaciones</h1>


<table>
    <thead>
        <tr>
            <th>Clave Materias</th>
            <th>Nombre Materias</th>
            <th>Estado Materias</th>
            <th>Califiacion 1</th>
            <th>Cambios </th>
            <th>Califiacion 2</th>
            <th> Cambios </th>
            <th>Califiacion 3</th>
            <th> Cambios </th>
            <th>Califiacion 4</th>
            <th> Cambios </th>
            <th>Califiacion 5</th>
            <th> Cambios </th>
            <th>Promedio</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            {% for cal in calif %}
            <td>{{ cal.0 }}</td>
            <td>{{ cal.1 }}</td>
            <td>{{ cal.2 }}</td>
            <td><a href="/edit/{{ cal.0 }}"> editar</a></td>
            <td>{{ cal.3 }}</td>
            <td><a href="/edit/{{ cal.0 }}"> editar</a></td>
            <td>{{ cal.4 }}</td>
            <td><a href="/edit/{{ cal.0 }}"> editar</a></td>
            <td>{{ cal.5 }}</td>
            <td><a href="/edit/{{ cal.0 }}"> editar</a></td>
            <td>{{ cal.6 }}</td>
            <td><a href="/edit/{{ cal.0 }}"> editar</a></td>
            <td>{{ cal.7 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<body>

</body>

</html>