{% extends "layout.html" %} {% block content %}
<div class="container">
    {% block navbar %}
    <ul class="sidenav" id="mobile-demo">
        {% block list %}
        <li><a href="/editar/cambiar/calificaciones/{{ estudiante.0.0 }}/{{ estudiante.0.5 }}/{{ clave_prof_g }}"><i class="material-icons left">class</i> Bimestre 1 </a></li>
        <li><a href="/editar/cambiar/calificaciones/{{ estudiante.0.0 }}/{{ estudiante.0.5 }}/{{ clave_prof_g }}/2"><i class="material-icons left">class</i> Bimestre 2 </a></li>
        <li><a href="/editar/cambiar/calificaciones/{{ estudiante.0.0 }}/{{ estudiante.0.5 }}/{{ clave_prof_g }}/3"><i class="material-icons left">class</i> Bimestre 3 </a></li>
        <li><a href="/editar/cambiar/calificaciones/{{ estudiante.0.0 }}/{{ estudiante.0.5 }}/{{ clave_prof_g }}/4"><i class="material-icons left">class</i> Bimestre 4 </a></li>
        <label>ExtraCurriculares</label>
        <li> <a href="/inicio/{{ clave_prof_g }}"><i class="material-icons left">assignment_ind</i>Inicio</a></li>
        {% endblock %}
    </ul> {% endblock %}
    <h2 class="center">Calificaciones de {{ estudiante.0.2 }} <br> {{estudiante.0.3}} {{estudiante.0.4}}</h2>
    <!--Datos de la inscripcion de la materia-->
    {% if materia %} {% if bandera %} {% if num == '1' %}
    <h3> Bimestre 1 </h3>
    {% for i in materia %}
    <!--id_materia, id_estudiante, id_profesor-->
    <div class="row z-depth-1">
        <form action="/guardar1/calificacion/Bimestre_1/{{ i.26 }}/{{ estudiante.0.0 }}/{{ materia.0.27 }}/{{ estudiante.0.5 }}/{{ clave_prof_g }}" , method="POST">
            <br>
            <h3 class="center">Materia: {{ i.0 }}</h3>
            <div class="row">
                <h4>Promedio Bimestre 1: {{ i.1 }} </h4> <br>
                <div class="col s6">
                    Examen(50%): <input type="text" name="campo1_B1" value="{{ i.2 }}">
                </div>
                <div class="col s6">
                    Tareas(15%): <input type="text" name="campo2_B1" value="{{ i.3 }}">
                </div>
                <div class="col s6">
                    Exposición (15%): <input type="text" name="campo3_B1" value="{{ i.4 }}">
                </div>
                <div class="col s6">
                    Asistencia / Participación en clase (10%): <input type="text" name="campo4_B1" value="{{ i.5 }}">
                </div>
                <div class="col s12">
                    Cuaderno y Libros (10%): <input type="text" name="campo5_B1" value="{{ i.6 }}">
                </div>
                <br> <br> <br>
            </div>
            <div class="container">
                <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        <br>
    </div>
    {% endfor %} {% endif %} {% if num == '2' %}
    <h3> Bimestre 2 </h3>
    {% for i in materia %}
    <div class="row z-depth-1">
        <form action="/guardar/calificacion/Bimestre_2/{{ i.26 }}/{{ estudiante.0.0 }}/{{ materia.0.27 }}/{{ estudiante.0.5 }}/{{ clave_prof_g }}" , method="POST">
            <br>
            <h3 class="center">Materia: {{ i.0 }}</h3>
            <div class="row">
                Promedio Bimestre 2: {{ i.7 }} <br>
                <div class="col s6">
                    Examen (50%): <input type="text" name="campo1_B2" value="{{ i.8 }}">
                </div>
                <div class="col s6">
                    Tareas (15%): <input type="text" name="campo2_B2" value="{{ i.9 }}">
                </div>
                <div class="col s6">
                    Exposición (15%): <input type="text" name="campo3_B2" value="{{ i.10 }}">
                </div>
                <div class="col s6">
                    Asistencia / Participación en Clase (10%): <input type="text" name="campo4_B2" value="{{ i.11 }}">
                </div>
                <div class="col s12">
                    Cuaderno y Libros (10%): <input type="text" name="campo5_B2" value="{{ i.12 }}">
                </div>
                <br> <br> <br>
            </div>
            <div class="container">
                <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        <br>
    </div>
    {% endfor %} {% endif %} {% if num == '3' %}
    <h3> Bimestre 3 </h3>
    {% for i in materia %}
    <div class="row z-depth-1">
        <form action="/guardar/calificacion/Bimestre_3/{{ i.26 }}/{{ estudiante.0.0 }}/{{ materia.0.27 }}/{{ estudiante.0.5 }}/{{ clave_prof_g }}" , method="POST">
            <br>
            <h3 class="center">Materia: {{ i.0 }}</h3>
            <div class="row">
                <h4>Promedio Bimestre 3: {{ i.13 }}</h4>
                <div class="col s6">
                    Examen (50%): <input type="text" name="campo1_B3" value="{{ i.14 }}">
                </div>
                <div class="col s6">
                    Guía (25%): <input type="text" name="campo2_B3" value="{{ i.15 }}">
                </div>
                <div class="col s6">
                    Exposición (25%): <input type="text" name="campo3_B3" value="{{ i.16 }}">
                </div>
            </div>
            <br> <br> <br>
            <div class="container">
                <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                    <i class="material-icons right">send</i>
                  </button>
            </div>
        </form>
        <br>
    </div>
    {% endfor %} {% endif %} {% if num == '4' %}
    <h3> Bimestre 4 </h3>
    {% for i in materia %}
    <div class="row z-depth-1">
        <form action="/guardar/calificacion/Bimestre_4/{{ i.26 }}/{{ estudiante.0.0 }}/{{ materia.0.27 }}/{{ estudiante.0.5 }}/{{ clave_prof_g }}" , method="POST">
            <br>
            <h3 class="center">Materia: {{ i.0 }}</h3>
            <div class="row">
                <h4>Promedio Bimestre 4: {{ i.19 }}</h4>
                <div class="col s6">
                    Examen (50%): <input type="text" name="campo1_B4" value="{{ i.20 }}">
                </div>
                <div class="col s6">
                    Tareas (15%): <input type="text" name="campo2_B4" value="{{ i.21 }}">
                </div>
                <div class="col s6">
                    Exposición (15%): <input type="text" name="campo3_B4" value="{{ i.22 }}">
                </div>
                <div class="col s6">
                    Asistencia / Participación en Clase (10%): <input type="text" name="campo4_B4" value="{{ i.23 }}">
                </div>
                <div class="col s12">
                    Cuaderno y Libros (10%): <input type="text" name="campo5_B4" value="{{ i.24 }}">
                </div>
                <br> <br> <br>
            </div>
            <div class="container">
                <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                    <i class="material-icons right">send</i>
                  </button>
            </div>
        </form>
        <br>
    </div>
    {% endfor %} {% endif %} {% endif %} {% endif %}
</div>
{% endblock %}