{% extends "layout.html" %} {% block content %}
<div class="container">
    <h2 class="center"> Enviar correos Alumnos</h2>
    <div class="row">
        <form action="/correos/Enviar" class="col s12" , method="POST">
            <div class="input-field col s12">
                <select name="grado">
                  <optgroup label="Individual">
                    <option value="000">Correo individual</option>
                  </optgroup>
                  <optgroup label="Kinder">
                    <option value="001">Kinder 1</option>
                    <option value="002">Kinder 2</option>
                    <option value="003">Kinder 3</option>
                  </optgroup>
                  <optgroup label="Primaria">
                    <option value="1">1° Primaria</option>
                    <option value="2">2° Primaria</option>
                    <option value="3">3° Primaria</option>
                    <option value="4">4° Primaria</option>
                    <option value="5">5° Primaria</option>
                    <option value="6">6° Primaria</option>
                  </optgroup>
                  <optgroup label="ALL">
                    <option value="1021">Toda la escuela</option>
                    <option value="1022">Toda Primaria</option>
                    <option value="1023">Todo Kinder</option>
                  </optgroup>
                </select>
                <label>Optgroups</label>
            </div>
            <div class="input-field col s12">
                <select name="opcion">
                <optgroup label="Sin Adjuntos">
                  <option value="0">Solo Cuerpo de Correo</option>
                </optgroup>
                <optgroup label="Con adjuntos">
                  <option value="1">Adjuntar Aviso</option>
              </select>
                <label>Optgroups</label>
            </div>
            Correo Destinatario: <input type="text" name="correo_destinatario"> Asunto: <input type="text" name="asunto"> Cuerpo del Correo:<input type="text" name="cuerpo">
            <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                <i class="material-icons right">send</i>
              </button>
        </form>
    </div>
</div>
<!--Profesores-->
<div class="container">
    <h2 class="center"> Enviar correos Profesores</h2>
    <div class="row">
        <form action="/correos/Enviar" class="col s12" , method="POST">
            <div class="input-field col s12">
                <select name="grado">
                  <optgroup label="Grado">
                    <option value="100">Todos los grados de Primaria y Kinder</option>
                  </optgroup>
                  <optgroup label="Especialistas">
                    <option value="1000">Todos los Especialistas</option>
                  </optgroup>
                </select>
                <label>Optgroups</label>
            </div>
            <div class="input-field col s12">
                <select name="opcion">
              <optgroup label="Nada">
                <option value="0">No Crear nada</option>
              </optgroup>
              <optgroup label="Adjuntar">
                <option value="1">Adjuntar Aviso</option>
                <option value="2">Adjuntar reporte</option>
            </select>
                <label>Optgroups</label>
            </div>
            Correo Destinatario: <input type="text" name="correo_destinatario"> Asunto: <input type="text" name="asunto"> Cuerpo del Correo:<input type="text" name="cuerpo">
            <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                <i class="material-icons right">send</i>
              </button>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
{% endblock %}