{% extends "layout.html" %} {% block content %}
<div class="container">
    <h2 class="center"> Enviar correos Alumnos</h2>
    <div class="row">
        <form action="/correos/Enviar" class="col s12" , method="POST">
            <div class="input-field col s12">
                <select name="grado">
                  <optgroup label="Individual">
                    <option value="000">Correo individual</option>
                  </optgroup>
                  <optgroup label="Kinder">
                    <option value="001">Kinder 1</option>
                    <option value="002">Kinder 2</option>
                    <option value="003">Kinder 3</option>
                  </optgroup>
                  <optgroup label="Primaria">
                    <option value="1">1° Primaria</option>
                    <option value="2">2° Primaria</option>
                    <option value="3">3° Primaria</option>
                    <option value="4">4° Primaria</option>
                    <option value="5">5° Primaria</option>
                    <option value="6">6° Primaria</option>
                  </optgroup>
                  <optgroup label="ALL">
                    <option value="1021">Toda la escuela</option>
                    <option value="1022">Toda Primaria</option>
                    <option value="1023">Todo Kinder</option>
                  </optgroup>
                </select>
                <label>Opciones de envío</label>
            </div>
            <div class="input-field col s12">
                <select name="opcion">
                <optgroup label="Sin Adjuntos">
                  <option value="0">Solo Cuerpo de Correo</option>
                </optgroup>
                <optgroup label="Con adjuntos">
                  <option value="1">Adjuntar Aviso</option>
              </select>
                <label>Opciones de Adjuntar</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" name="correo_destinatario" class="validate">
                <label for="icon_prefix">Correo Destinatario</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="icon_email" type="text" name="asunto" class="validate">
                <label for="icon_email">Asunto</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">create</i>
                <input id="icon_create" type="text" name="cuerpo" class="validate" class="validate">
                <label id="icon_create" for="icon_email">Cuerpo del Correo</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
              </button>
        </form>
    </div>
</div>
<!--Profesores-->
<div class="container">
    <h2 class="center"> Enviar correos Profesores</h2>
    <div class="row">
        <form action="/correos/Enviar" class="col s12" , method="POST">
            <div class="input-field col s12">
                <select name="grado">
                  <optgroup label="Grado">
                    <option value="100">Todos los grados de Primaria y Kinder</option>
                  </optgroup>
                  <optgroup label="Especialistas">
                    <option value="1000">Todos los Especialistas</option>
                  </optgroup>
                </select>
                <label>Opciones de envío</label>
            </div>
            <div class="input-field col s12">
                <select name="opcion">
              <optgroup label="Sin adjuntos">
                <option value="0">Solo cuerpo de correo</option>
              </optgroup>
              <optgroup label="Con adjuntar">
                <option value="1">Adjuntar Aviso</option>
            </select>
                <label>Opciones de Adjuntar</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix2" type="text" name="correo_destinatario" class="validate">
                <label for="icon_prefix2">Correo Destinatario</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="icon_email2" type="text" name="asunto" class="validate">
                <label for="icon_email2">Asunto</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">create</i>
                <input id="icon_create2" type="text" name="cuerpo" class="validate" class="validate">
                <label id="icon_create2" for="icon_email">Cuerpo del Correo</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
              </button>
        </form>
    </div>
    <div class="row">
        <a href="/admin" class="waves-effect waves-light btn-large">Regresar</a>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
{% endblock %}