{% extends "layout.html" %} {% block content %} {% if bandera %}
<div class="container">
    <br>
    <br><br> {% block navbar %}
    <ul class="sidenav" id="mobile-demo">
        {% block list %}
        <li><a href="/avisos/{{ grupo }}"><i class="material-icons left">book</i>Avisos {{ grupo }}</a></li>
        <li><a href="/visualizarTareas/{{ grupo }}/{{ idp }}"><i class="material-icons left">border_color</i>Ver Tareas</a></li>
        <li><a href="/verAlumno/{{ grupo }}"><i class="material-icons left">assignment_ind</i>Inicio</a></li>
        {% endblock %}
    </ul> {% endblock %}
    <div class="container grey lighten-5 z-depth-1">
        <form action="/verTareas/{{ idp }}/{{ grupo }}" , method="POST">
            <h3 class="center"> Tareas {{ grupo }}</h3>
            <div class="row">
                <div class="input-field col s6">
                    <select name="nombre_materia">
                    <optgroup label="Elegir Materia">
                      <option value="Grado">Materia de Grado</option>
                      <option value="Compu">Computación</option>
                      <option value="Ingles">Inglés</option>
                      <option value="Artes">Artes</option>
                      <option value="Musica">Música</option>
                      <option value="Tae">Tae-Kwon-Do</option>
                    </optgroup>  
                    </select>
                    <label>Materia:</label>
                </div>
                <div class="input-field col s6">
                    <select name="grado">
                    <optgroup label="Elegir Grado">
                      <option value="{{ grupo }}">Grado Asignado</option>
                    </optgroup>  
                    </select>
                    <label>Grado Escolar:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">face</i>
                    <input type="text" name="desc_enc" id="desc_enc" value="" class="validate">
                    <label for="desc_enc">Encabezado</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">insert_link</i>
                    <input type="text" name="link" id="link_d" value="">
                    <label for="link_d">Link (Video)</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">insert_link</i>
                    <input type="text" name="link2" id="link_d2" value="">
                    <label for="link_d2">Link(Material)</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">description</i>
                    <!--<input type="text" name="desc_cuerpo" id="desc" value="" class="validate">-->
                    <textarea id="desc" name="desc_cuerpo" class="materialize-textarea"></textarea>
                    <label for="desc">Descripción</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <input class="btn waves-effect waves-light" type="submit" name="submit" value="Solo Guardar">
                    <!--Solo guardar Tarea-->
                    <!--<i class="material-icons right">send</i>-->
                    <!--</button>-->
                    <!--<input type="submit" name="submit_button" value="Do Something">-->
                </div>
                <div class="col s6">
                    <!--<button class="btn waves-effect waves-light" type="submit" name="action" value="GN">Guardar y Notificar
                        <i class="material-icons right">send</i>
                    </button>-->
                    <input class="btn waves-effect waves-light" type="submit" name="submit" value="Guardar y Notificar">
                </div>
            </div>
        </form>
        <br>
    </div>

    <br>
    <br>
    <br>
</div>
{% endif %} {% if bandera2 %}
<div class="container">
    <h1 class="center">Modificar Tarea en {{ grupo }}</h1>
    <form action="/tarea_act/{{ idp }}/{{ grupo }}/{{ tarea.0.0 }}" method="POST">
        <div class="row">
            <div class="col s6">
                Nombre de la Materia: <input type="text" name="nombre_materia" value="{{ tarea.0.1 }}">
            </div>
            <div class="col s6">
                Grado de la Materia: <input type="text" name="grado" value="{{ tarea.0.2 }}">
            </div>
            <div class="col s6">
                Nombre de la tarea: <input type="text" name="desc_enc" value="{{ tarea.0.3 }}">
            </div>
            <div class="col s6">
                Descripción de la Tarea: <input type="text" name="desc_cuerpo" value="{{ tarea.0.4 }}">
            </div>
            <div class="col s12">
                Link (Preferentemente Video): <input type="text" name="link" value="{{ tarea.0.5 }}">
            </div>
            <div class="col s12">
                Link2 (Preferentemente Material): <input type="text" name="link2" value="{{ tarea.0.7 }}">
            </div>
            <!--<div class="col s12">
                Archivos: <input type="file" name="archivo" value="">
            </div>
            <br>-->
        </div>
        <div class="container">
            <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
    <br>
</div>
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
{% endblock %}