{% extends "layout.html" %} {% block content %}
<div class="row">
    <div class="container">
        <div class="card-panel blue">
            <span class="white-text">
                <h5>Encuestas</h5>
                Se les pide de la manera mas atenta que contesten la encuesta de Rendimiento académico, esto con el fin de poder escucharlos y dar un mejor servicio <br>
                Una vez que acaben la encuesta, favor de cerrar sesión <br>
                Por favor, solo conteste una vez cada encuesta, en total debe de responder dos encuestas que a continuación se muestran
            </span>
        </div>
    </div>
    <div class="col s6">
        <h3>Extracurriculares</h3>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeQjlYs0kMjGr7PjngtEViSSJzxeObjD_tSKA5pOS299bQfQA/viewform?embedded=true" width="640" height="2700" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
    <div class="col s6">
        <h3>Titular</h3>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdjjCYZ7_Z8rb1n-HcPpTeJCLUaIhpH72HBks0oNLR3yRpdrg/viewform?embedded=true" width="640" height="2600" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
</div>
{% endblock %}