{% extends "layout.html" %} {% block content %}
<title>Inicio</title>
<div class="container">
    <!--<div class="row">-->
    <h1 class="blue-text text-darken-1">Inicia Sesion</h1>
    <div class="row">
        <form class="col s12" action="/" , method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input name="correo_electronico" id="email" type="text" class="validate">
                    <label for="email">Correo Electronico (Si no tienes Correo Electronico, escribe NULL)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="curp" id="password" type="password" class="validate">
                    <label for="password">CURP</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
        </form>
	Cambios a la pagina
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!--</div>-->
</div>
{% endblock %}
