{% extends "layout.html" %}
{% block content %}
    <form action="/add">
        <h2>Loggin de Alumnos</h2>
        <input type="text" name="usuario_id" placeholder="Contraseña">
        <input type="text" name="ap_pat" placeholder="Apellido Paterno">
        <input type="text" name="ap_mat" placeholder="Apellido Materno">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="grado" placeholder="grado">
        <button type="submit"> Entrar </button>
        <a class="waves-effect waves-light btn">button</a>

    </form>
{% endblock %}