{% extends "layout.html" %} {% block content %} {{ prof_esp }}
<h1>Kinder</h1>
<a href="/verAlumno/K1/{{ prof_esp }}">K1</a>
<a href="/verAlumno/K2/{{ prof_esp }}">K2</a>
<a href="/verAlumno/K3/{{ prof_esp }}">K3</a>
<h1>Primaria</h1>
<a href="/verAlumno/1ro/{{ prof_esp }}">1ro</a>
<a href="/verAlumno/2do/{{ prof_esp }}">2do</a>
<a href="/verAlumno/3ro/{{ prof_esp }}">3ro</a>
<a href="/verAlumno/4to/{{ prof_esp }}">4to</a>
<a href="/verAlumno/5to/{{ prof_esp }}">5to</a>
<a href="/verAlumno/6to/{{ prof_esp }}">6to</a>
<br>
<a href="/salir">Salir</a> {% endblock %}