<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrar materia</title>

</head>

<body>
    <h1>Registro Materias</h1>
    <form action="/registroMateria" , method="POST">
        <input type="text" name="materia_ID" placeholder="Clave de la materia">
        <input type="text" name="nombre" placeholder="Nombre de la materia">
        <input type="text" name="estado" placeholder="Estado: A, B, S">
        <button type="submit"> SAVE </button>
    </form>
</body>

</html>