<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro Estudiante</title>
</head>

<body>
    <h1>Registro Estudiante</h1>
    <form action="/alumno/agregar" , method="POST">
        <input type="text" name="estudiante_ID" placeholder="Contra">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="apellido_pat" placeholder="Apellido Paterno">
        <input type="text" name="apellido_mat" placeholder="Apellido Materno">
        <input type="text" name="grado" placeholder="Grado Escolar">
        <input type="text" name="edad" placeholder="Edad">
        <input type="text" name="nombre_tutor" placeholder="Nombre del Tutor">
        <input type="text" name="telefono" placeholder="Telefono">
        <input type="text" name="estado" placeholder="Estado A, S, B">
        <button type="submit"> SAVE </button>
    </form>

</body>

</html>