{% extends "layout.html" %} {% block content %}
<!-- Dropdown Trigger -->
{% if bandera3 %}
<!--Administracion-->
<div>
    <table class="responsive-table highlight striped">
        <thead>
            <tr>
                <th>Clave Alumno </th>
                <th>Nombre </th>
                <th>Apellido Paterno </th>
                <th>Apellido Materno </th>
                <th>Grado </th>
                <th> Estado Actual </th>
                <th> Número de Ingresos</th>
                <th> Datos Actuales </th>
                <th> Calificaciones </th>
                <th>Cambiar Status</th>
                <th>Enviar PDF informacion</th>
                <th>Promover de Grado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in estu %}
                <td>{{ i.0 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td>{{ i.4 }}</td>
                <td>{{ i.5 }}</td>
                <td>{{ i.13 }}</td>
                <td>{{ i.14 }}</td>

                <td><a href="/editar/actualizar/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small">Cambiar Datos</a><br><br><a href="/verAlumnoDatos/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small">Ver Datos</a>

                    <td><a href="/editar/cambiar/calificaciones/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small">Cambiar Calificaciones</a><br><br>
                        <a href="/editar/actualizar/calificaciones/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small">Ver calificaciones</a></td>
                    <td><a href="/baja/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small deep-orange">Baja</a><br>
                        <a href="/alta/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small blue">Alta</a><br>
                        <a href="/suspender/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small yellow accent-4">Suspender</a><br></td>
                    <td><a href="/enviar_pdf/alumno/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small indigo lighten-4">Enviar</a>
                    </td>
                    <td><a href="/editar/actualizar/calificaciones2/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small indigo lighten-4">Pasar de Grado</a>
                        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Promover</a>
                    </td>
            </tr>
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="/PromoverGrado/{{ i.0 }}/{{ i.5 }}/K1">K1</a></li>
                <li><a href="/PromoverGrado/{{ i.0 }}/{{ i.5 }}/K2">K2</a></li>
                <li><a href="/PromoverGrado/{{ i.0 }}/{{ i.5 }}/K3">K3</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="/PromoverGrado/{{ i.0 }}/{{ i.5 }}/1ro">1º</a></li>
                <li><a href="/PromoverGrado/{{ i.0 }}/{{ i.5 }}/2do">2º</a></li>
                <li><a href="/PromoverGrado/{{ i.0 }}/{{ i.5 }}/3ro">3º</a></li>
                <li><a href="/PromoverGrado/{{ i.0 }}/{{ i.5 }}/4to">4º</a></li>
                <li><a href="/PromoverGrado/{{ i.0 }}/{{ i.5 }}/5to">5º</a></li>
                <li><a href="/PromoverGrado/{{ i.0 }}/{{ i.5 }}/6to">6º</a></li>
                <li><a href="/PromoverGrado/{{ i.0 }}/{{ i.5 }}/E">E</a></li>
            </ul>
            {% endfor %}
        </tbody>
    </table>
    <div class="center">
        <a href="/admin" class="waves-effect waves-light btn-large"><i class="material-icons left">mood_bad</i>Regresar</a>
    </div>

</div>
<!--Pagos-->
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);
    });
</script>
{% endblock %}


<!--<h1 class="center">Alumnos de {{ estu.4.5 }} </h1>-->
<!--<a href="/enviar_pdf/alumno/000/{{ estu.4.5 }}" class="waves-effect waves-light btn-small indigo lighten-4">Enviar</a>-->