<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ estu.4.4 }} grado</title>
</head>

<body>
    <h1>Alumnos de {{ estu.4.5 }} </h1>
    <table>
        <thead>
            <tr>
                <th>Clave Alumno </th>
                <th>Nombre </th>
                <th>Apellido Paterno </th>
                <th>Apellido Materno </th>
                <th>Grado </th>
                <th> Estado Actual </th>
                <th> Datos Actuales </th>
                <th> Calificaciones </th>
                <th>Cambiar Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in estu %}
                <td>{{ i.0 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td>{{ i.4 }}</td>
                <td>{{ i.5 }}</td>
                <td>{{ i.13 }}</td>
                <td><a href="/editar/actualizar/{{ i.0 }}/{{ i.5 }}">Cambiar Datos</a> <br><a href="/verAlumnoDatos/{{ i.0 }}/{{ i.5 }}">Ver datos</a> </td>
                <td><a href="/editar/cambiar/calificaciones/{{ i.0 }}/{{ i.5 }}">Cambiar Calificaciones</a> <a href="/editar/actualizar/calificaciones/{{ i.0 }}/{{ i.5 }}">Ver calificaciones</a> </td>
                <td><a href="/baja/{{ i.0 }}/{{ i.5 }}">Dar de Baja</a><br>
                    <a href="/alta/{{ i.0 }}/{{ i.5 }}">Dar de alta</a><br>
                    <a href="/suspender/{{ i.0 }}/{{ i.5 }}">Suspender</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/edit/{{ estu.4.4 }}">Dar de Alta a Todos los alumnos del grado</a> <br>
    <a href="/admin">Regresar</a>
</body>

</html>