{% extends "layout.html" %} {% block content %}
<h1 class="center">Alumnos de {{ estu.4.5 }} </h1>
{% block navbar %}
<ul class="sidenav" id="mobile-demo">
    {% block list %}
    <li><a href="/tarea/{{ idp }}/{{ estu.0.5 }}"><i class="material-icons left">border_color</i>Nueva Tarea</a></li>
    <li><a href="/visualizarTareas/{{ estu.0.5 }}/{{ idp }}"><i class="material-icons left">art_track</i>Lista Tareas</a></li>
    <li> <a href="/avisos/{{ estu.0.5 }}"><i class="material-icons left">book</i>Tareas Guardadas</a></li>
    {% if bandera2 %}
    <label>ExtraCurriculares</label>
    <li> <a href="/inicio/{{ idp }}"><i class="material-icons left">assignment_ind</i>Inicio</a></li>
    {% endif %} {% endblock %}
</ul> {% endblock %}
<br>
</div>
{% if bandera %}
<div class="container">
    <!--Profes de Grado-->
    <table class="responsive-table highlight striped">
        <thead>
            <tr>
                <th>Nombre </th>
                <th>Apellido Paterno </th>
                <th>Apellido Materno </th>
                <th> Calificaciones </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in estu %}
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td>{{ i.4 }}</td>
                <td><a href="/editar/cambiar/calificaciones/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small"><i class="material-icons left">border_color</i>Cambiar Calificaciones</a> <br> <br> <a href="/editar/actualizar/calificaciones/{{ i.0 }}/{{ i.5 }}"
                        class="waves-effect waves-light btn-small"><i class="material-icons left">face</i>Ver calificaciones</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %} {% if bandera3 %}
<!--Administracion-->
<div>
    <table class="responsive-table highlight striped">
        <thead>
            <tr>
                <th>Clave Alumno </th>
                <th>Nombre </th>
                <th>Apellido Paterno </th>
                <th>Apellido Materno </th>
                <th>Grado </th>
                <th> Estado Actual </th>
                <th> Número de Ingresos</th>
                <th> Datos Actuales </th>
                <th> Calificaciones </th>
                <th>Cambiar Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in estu %}
                <td>{{ i.0 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td>{{ i.4 }}</td>
                <td>{{ i.5 }}</td>
                <td>{{ i.13 }}</td>
                <td>{{ i.14 }}</td>

                <td><a href="/editar/actualizar/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small">Cambiar Datos</a><br><br><a href="/verAlumnoDatos/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small">Ver Datos</a>

                    <td><a href="/editar/cambiar/calificaciones/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small">Cambiar Calificaciones</a><br><br>
                        <a href="/editar/actualizar/calificaciones/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small">Ver calificaciones</a></td>
                    <td><a href="/baja/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small deep-orange">Baja</a><br>
                        <a href="/alta/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small blue">Alta</a><br>
                        <a href="/suspender/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small yellow accent-4">Suspender</a><br></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="center">
        <a href="/admin" class="waves-effect waves-light btn-large"><i class="material-icons left">mood_bad</i>Regresar</a>
    </div>

</div>
<!--Pagos-->
{% endif %} {% if bandera4 %}
<div class="container">
    <table class="responsive-table highlight striped">
        <thead>
            <tr>
                <th>Clave Alumno </th>
                <th>Nombre </th>
                <th>Grado </th>
                <th> Estado Actual </th>
                <th> Ver </th>
                <th>Nuevo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in estu %}
                <td>{{ i.0 }}</td>
                <td>{{ i.2 }} {{ i.3 }} {{ i.4 }}</td>
                <td>{{ i.5 }}</td>
                <td>{{ i.13 }}</td>
                <td><a href="/verPagos/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small">Pagos {{ i.5 }}</a><br><br>
                    <a href="#" class="waves-effect waves-light btn-small">Todos los Pagos</a><br><br>
                    <td><a href="/PagoNuevo/{{ i.0 }}/{{ i.5 }}" class="waves-effect waves-light btn-small">Nuevo Pago</a><br><br></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="center">
        <a href="/admin" class="waves-effect waves-light btn-large"><i class="material-icons left">mood_bad</i>Regresar</a>
    </div>
</div>
{% endif %}{% if bandera2 %}
<!--ExtraCurriculares-->
<div class="container">
    <h2 class="center"> Materias ExtraCurriculares</h2>
    <table class="responsive-table highlight striped">
        <thead>
            <tr>
                <th>Nombre </th>
                <th>Apellido Paterno </th>
                <th>Apellido Materno </th>
                <th> Calificaciones </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in estu %}
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td>{{ i.4 }}</td>
                <td>
                    <a href="/editar/cambiar/calificaciones/{{ i.0 }}/{{ i.5 }}/{{ prof_esp }}" class="waves-effect waves-light btn-small"><i class="material-icons left">border_color</i>Cambiar Calificaciones</a> <br><br>
                    <a href="/editar/actualizar/calificaciones/{{ i.0 }}/{{ i.5 }}/{{ prof_esp }}" class="waves-effect waves-light btn-small"><i class="material-icons left">face</i>Ver Calificaciones</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<br>
<div class="center">
    <a href="/salir" class="waves-effect waves-light btn-large"><i class="material-icons left">mood_bad</i>Salir</a>
    <br> <br>
</div> {% endblock %}