<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vista de Calificaciones</title>
</head>

<body>
    {% if materia %}
    <h2>Califiaciones del alumno {{ estudiante.0.1 }} {{ estudiante.0.2 }} {{ estudiante.0.3 }}</h2>
    este estudiante se encuentra actualmente como: {{ estudiante.0.9 }} <br>
    <br>
        <!--Datos de la inscripcion de la materia-->
        <table>
            <thead>
                <tr>
                    <th>Nombre de la Materia </th>
                    <th>Calificacion Bimestral 1 (Agosto - Septiembre - Octubre) </th>
                    <th>Campo 1 </th>
                    <th>Campo 2</th>
                    <th>Campo 3</th>
                    <th>Campo 4</th>
                    <th>Calificacion Bimestral 2 (Noviembre - Diciembre) </th>
                    <th>Campo 1 </th>
                    <th>Campo 2</th>
                    <th>Campo 3</th>
                    <th>Campo 4</th>
                    <th>Calificacion Bimestral 3 (Enero - Febrero) </th>
                    <th>Campo 1 </th>
                    <th>Campo 2</th>
                    <th>Campo 3</th>
                    <th>Campo 4</th>
                    <th>Calificacion Bimestral 4 (Marzo - Abril) </th>
                    <th>Campo 1 </th>
                    <th>Campo 2</th>
                    <th>Campo 3</th>
                    <th>Campo 4</th>
                    <th>Calificacion Bimestral 5 (Mayo - Junio) </th>
                    <th>Campo 1 </th>
                    <th>Campo 2</th>
                    <th>Campo 3</th>
                    <th>Campo 4</th>
                    <th>Promedio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for i in materia %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.3 }}</td>
                    <td>{{ i.4 }}</td>
                    <td>{{ i.5 }}</td>
                    <td>{{ i.6 }}</td>
                    <td>{{ i.7 }}</td>
                    <td>{{ i.8 }}</td>
                    <td>{{ i.9 }}</td>
                    <td>{{ i.10 }}</td>    
                    <td>{{ i.11 }}</td>
                    <td>{{ i.12 }}</td>
                    <td>{{ i.13 }}</td>
                    <td>{{ i.14 }}</td>
                    <td>{{ i.15 }}</td>
                    <td>{{ i.16 }}</td>
                    <td>{{ i.17 }}</td>
                    <td>{{ i.18 }}</td>
                    <td>{{ i.19 }}</td>
                    <td>{{ i.20 }}</td>
                    <td>{{ i.21 }}</td>
                    <td>{{ i.22 }}</td>
                    <td>{{ i.23 }}</td>
                    <td>{{ i.24 }}</td>
                    <td>{{ i.25 }}</td>
                    <td>{{ i.26 }}</td>
                    <td>{{ i.27 }}</td>
                    <td>{{ i.28 }}</td>
                    <td>{{ i.29 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if not materia %}
    <h1>no hay calificaciones, ¿desea inscribirlo?</h1>
    <a href="/admin">NO</a> <a href="/inscripcionalumno/{{ estudiante.0.0 }}/{{ estudiante.0.4 }}">SI</a>
    {% endif %}
    <br>
    <a href="/admin">Regresar</a>

</body>

</html>