{% extends "layout.html" %} {% block content %} {% if materia %}
<h2 class="center">{{ estudiante.0.2 }} <br> {{ estudiante.0.3 }} {{ estudiante.0.4 }}</h2>
<div class="container">
    {% block navbar %}
    <ul class="sidenav" id="mobile-demo">
        {% block list %} {% if bandera1 %}
        <li><a href="/avisos/{{ estudiante.0.5 }}"><i class="material-icons left">book</i>Avisos de Actividades</a></li>
        {% if d %}
        <li><a href="/verAlumno/{{ estudiante.0.5 }}"><i class="material-icons left">assignment_ind</i>Inicio</a></li>
        {% endif %} {% endif %} {% if bandera3 %}
        <li><a href="/avisos/{{ estudiante.0.5 }}"><i class="material-icons left">book</i>Avisos de Actividades</a></li>
        <li><a href="/inicio/{{ estudiante.0.10 }}/{{ estudiante.0.1 }}"><i class="material-icons left">folder_shared</i>Calificaciones</a></li>
        {% endif %} {% if bandera4 %}
        <li><a href="/avisos/{{ estudiante.0.5 }}"><i class="material-icons left">book</i>Avisos de Actividades</a></li>
        <li><a href="/inicio/{{ estudiante.0.10 }}/{{ estudiante.0.1 }}"><i class="material-icons left">folder_shared</i>Calificaciones</a></li>
        {% endif %}{% if c %}
        <label> Extracurriculares</label>
        <li> <a href="/inicio/{{ clave_prof_g }}"><i class="material-icons left">assignment_ind</i>Inicio</a></li>
        {% endif %}
        <li><a href="/salir">Salir</a> {% endblock %}</li>
    </ul> {% endblock %}
    <!--Profesor de Grado-->
    {% if bandera1 %} <br>
    <!--Datos de la inscripcion de la materia-->
    <div>
        <h2 class="center">Bimestre 1</h2>
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Nombre de la Materia </th>
                    <th>Promedio Bimestral 1</th>
                    <th>Examen <br> 50%</th>
                    <th>Tareas 15%</th>
                    <th>Exposición 15%</th>
                    <th>Asistencia<br>Participación en Clase 10%</th>
                    <th>Cuaderno y Libros 10%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for i in materia %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.3 }}</td>
                    <td>{{ i.4 }}</td>
                    <td>{{ i.5 }}</td>
                    <td>{{ i.6 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container">
            <div class="card-panel blue">
                <span class="white-text">
                    <h5>Promedio Bimestral: {{ promedios.0.0 }}</h5>
                </span>
            </div>
        </div>
        <div>
            <h2 class="center">Bimestre 2</h2>
            <table class="responsive-table highlight striped">
                <thead>
                    <tr>
                        <th>Nombre de la Materia </th>
                        <th>Promedio Bimestral 2</th>
                        <th>Examen 50%</th>
                        <th>Tareas 15%</th>
                        <th>Exposición 15%</th>
                        <th>Asistencia<br>Participación en Clase 10%</th>
                        <th>Cuaderno y Libros 10%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for i in materia %}
                        <td>{{ i.0 }}</td>
                        <td>{{ i.7 }}</td>
                        <td>{{ i.8 }}</td>
                        <td>{{ i.9 }}</td>
                        <td>{{ i.10 }}</td>
                        <td>{{ i.11 }}</td>
                        <td>{{ i.12 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="container">
                <div class="card-panel blue">
                    <span class="white-text">
                        <h5>Promedio Bimestral: {{ promedios.0.1 }}</h5>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <h2 class="center">Bimestre 3</h2>
            <table class="responsive-table highlight striped">
                <thead>
                    <tr>
                        <th>Nombre de la Materia </th>
                        <th>Promedio Bimestral 3</th>
                        <th>Examen 50%</th>
                        <th>Guia 25%</th>
                        <th>Exposición 25%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for i in materia %}
                        <td>{{ i.0 }}</td>
                        <td>{{ i.13 }}</td>
                        <td>{{ i.14 }}</td>
                        <td>{{ i.15 }}</td>
                        <td>{{ i.16 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="container">
                <div class="card-panel blue">
                    <span class="white-text">
                        <h5>Promedio Bimestral: {{ promedios.0.2 }}</h5>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <h2 class="center">Bimestre 4</h2>
            <table class="responsive-table highlight striped">
                <thead>
                    <tr>
                        <th>Nombre de la Materia </th>
                        <th>Promedio Bimestral 4</th>
                        <th>Carpeta 60%</th>
                        <th>Clases de Zoom 20%</th>
                        <th>Exposición/proyecto 20%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for i in materia %}
                        <td>{{ i.0 }}</td>
                        <td>{{ i.19 }}</td>
                        <td>{{ i.20 }}</td>
                        <td>{{ i.21 }}</td>
                        <td>{{ i.22 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="container">
                <div class="card-panel blue">
                    <span class="white-text">
                        <h5>Promedio Bimestral: {{ promedios.0.3 }}</h5>
                    </span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-panel teal">
                <span class="white-text">
                    <h6>Promedio Final: {{ promedios.0.4 }}</h6>
                </span>
            </div>
        </div>
    </div>

    {% endif %} {% endif %} {% if not materia %} {% if not b %} {% if not bandera3 %} {% if bandera1 %}
    <h1>no hay calificaciones, ¿desea inscribirlo?</h1>
    <a href="/verAlumno/{{ estudiante.0.5 }}">NO</a> <a href="/inscripcionalumno/{{ estudiante.0.0 }}/{{ estudiante.0.5 }}">SI</a> {% endif %} {% endif %} {% endif %} {% endif %}
    <br> {% if not materia %} {% if b %}
    <h1>¡No hay Calificaciones!</h1>
    Contáctese con el maestro de grupo o con Adminsitración para poder dar de alta a este alumno
    <a href="/verAlumno/{{ estudiante.0.5 }}/{{ prof_esp }}">Regresar Especialista</a> {% else %}
    <a href="/verAlumno/{{ estudiante.0.5 }}">Regresar</a> {% endif %} {% endif %}
    <!--Estudiante-->
    {% if not materia %} {% if bandera3 %}
    <!--Estudiante sin calificaciones-->
    <h1>¡No hay Calificaciones!</h1>
    Contáctese con el maestro de grupo o con Adminsitración para poder dar de alta a este alumno {% endif %} {% endif %}
    <!--Estudiante Con Calificaciones-->
    {% if materia %} {% if bandera3 %}
    <h3 class="center">Calificaciones</h3>
    <div>
        <h2 class="center">Bimestre 1</h2>
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Nombre de la Materia </th>
                    <th>Promedio Bimestre 1</th>
                    <th>Examen <br> 50%</th>
                    <th>Tareas 15%</th>
                    <th>Exposición 15%</th>
                    <th>Asistencia<br>Participación en Clase 10%</th>
                    <th>Cuaderno y Libros 10%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for i in materia %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.3 }}</td>
                    <td>{{ i.4 }}</td>
                    <td>{{ i.5 }}</td>
                    <td>{{ i.6 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container">
            <div class="card-panel blue">
                <span class="white-text">
                    <h5>Promedio Bimestral: {{ promedios.0.0 }}</h5>
                </span>
            </div>
        </div>
    </div>
    <div>
        <h2 class="center">Bimestre 2</h2>
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Nombre de la Materia </th>
                    <th>Promedio Bimestre 2</th>
                    <th>Examen 50%</th>
                    <th>Tareas 15%</th>
                    <th>Exposición 15%</th>
                    <th>Asistencia <br> Participación en Clase 10%</th>
                    <th>Cuaderno y Libros 10%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for i in materia %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.7 }}</td>
                    <td>{{ i.8 }}</td>
                    <td>{{ i.9 }}</td>
                    <td>{{ i.10 }}</td>
                    <td>{{ i.11 }}</td>
                    <td>{{ i.12 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container">
            <div class="card-panel blue">
                <span class="white-text">
                    <h5>Promedio Bimestral: {{ promedios.0.1 }}</h5>
                </span>
            </div>
        </div>
    </div>
    <div>
        <h2 class="center">Bimestre 3</h2>
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Nombre de la Materia </th>
                    <th>Promedio Bimestre 3</th>
                    <th>Examen 50%</th>
                    <th>Tareas 25%</th>
                    <th>Exposición 25%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for i in materia %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.13 }}</td>
                    <td>{{ i.14 }}</td>
                    <td>{{ i.15 }}</td>
                    <td>{{ i.16 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container">
            <div class="card-panel blue">
                <span class="white-text">
                    <h5>Promedio Bimestral: {{ promedios.0.2 }}</h5>
                </span>
            </div>
        </div>
    </div>
    <div>
        <h2 class="center">Bimestre 4</h2>
        <table class="responsive-table highlight striped">
            <thead>
                <tr>
                    <th>Nombre de la Materia </th>
                    <th>Promedio Bimestre 4 </th>
                    <th>Carpeta 60%</th>
                    <th>Clases Zoom 20%</th>
                    <th>Exposición/proyecto 20%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for i in materia %}
                    <td>{{ i.0 }}</td>
                    <td>{{ i.19 }}</td>
                    <td>{{ i.20 }}</td>
                    <td>{{ i.21 }}</td>
                    <td>{{ i.22 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container">
            <div class="card-panel blue">
                <span class="white-text">
                    <h5>Promedio Bimestral: {{ promedios.0.3 }}</h5>
                </span>
            </div>
        </div>
        <div class="container">
            <div class="card-panel teal">
                <span class="white-text">
                    <h5>Promedio Final: {{ promedios.0.4 }}</h5>
                </span>
            </div>
        </div>
    </div>
    {% endif %} {% endif %} {% if materia %}{% if bandera4 %}
    <div class="container">
        <div class="center">
            <a class="btn-floating btn-large pulse waves-effect waves-light red" href="/Encuestas"><i class="material-icons">notifications</i></a>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel teal">
                    <span class="white-text">
                    <h2 class="center">Información del Alumno</h2>
                    <br>Clave Interna del Colegio: {{ estudiante.0.0 }} <br>
                    <br>CURP: {{ estudiante.0.1 }}<br>
                    <br> Nombre Completo: {{ estudiante.0.2 }} {{ estudiante.0.3 }} {{ estudiante.0.4 }} <br>
                    <br> Grado: {{ estudiante.0.5 }} <br>
                    <br> Edad: {{ estudiante.0.6 }} <br>
                    <br> Nombre del tutor: {{ estudiante.0.7 }} <br>
                    <br> Telefono de Casa: {{ estudiante.0.8 }} <br>
                    <br> Telefono Celular: {{ estudiante.0.9 }} <br>
                    <br> Correo: {{ estudiante.0.10 }} <br>
                    <br> Número de Ingresos a Plataforma: {{ estudiante.0.14 }} <br>
                    </span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}{% endif %}
</div>
{% endblock %}