<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Control de Profesores grado</title>
</head>

<body>
    <h1>Control de Profesores </h1>
    <h2>Profesor de Grado</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre </th>
                <th>Apellido Paterno </th>
                <th>Apellido Materno </th>
                <th>Edad </th>
                <th>Telefono </th>
                <th>Status </th>
                <th>Grado </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in prof_g %}
                <td>{{ i.1 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td>{{ i.4 }}</td>
                <td>{{ i.5 }}</td>
                <td>{{ i.6 }}</td>
                <td>{{ i.7 }}</td>
                <td>{{ i.9 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--Control de profesores Especialistas-->
    <h2>Profesores Especialistas </h2>
    <table>
        <thead>
            <tr>
                <th>Nombre </th>
                <th>Apellido Paterno </th>
                <th>Apellido Materno </th>
                <th>Edad </th>
                <th>Telefono </th>
                <th>Status </th>
                <th>Grado </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in prof_e %}
                <td>{{ i.1 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td>{{ i.4 }}</td>
                <td>{{ i.5 }}</td>
                <td>{{ i.6 }}</td>
                <td>{{ i.7 }}</td>
                <td>{{ i.9 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/admin">Regresar</a>
</body>

</html>