{% extends "layout.html" %} {% block content %}
<h1>Control de Profesores </h1>
<h2 class="center">Profesor de Grado</h2>
<table class="responsive-table highlight striped">
    <thead>
        <tr>
            <th>Clave</th>
            <th>CURP</th>
            <th>Nombre Completo</th>
            <th>Edad </th>
            <th>Telefono </th>
            <th>Correo Electrónico</th>
            <th>Status</th>
            <th>Grado</th>
            <th>Número de Loggins </th>
            <th>Cambiar Status </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for i in prof_g %}
            <td>{{ i.0 }}</td>
            <td>{{ i.1 }}</td>
            <td>{{ i.2 }} {{ i.3 }} {{ i.4 }} </td>
            <td>{{ i.5 }}</td>
            <td>{{ i.6 }}</td>
            <td>{{ i.7 }}</td>
            <td>{{ i.9 }}</td>
            <td>{{ i.10 }}</td>
            <td>{{ i.11 }}</td>
            <td><a href="/alta_prof_grado/{{ i.0 }}" class="waves-effect waves-light btn-small blue">Alta</a>
                <a href="/baja_prof_grado/{{ i.0 }}" class="waves-effect waves-light btn-small deep-orange">Baja</a>
                <a href="/suspender_prof_grado/{{ i.0 }}" class="waves-effect waves-light btn-small yellow accent-4">Suspender</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!--Control de profesores Especialistas-->
<h2 class="center">Profesores Especialistas </h2>
<div class="row">

</div>
<table class="responsive-table highlight striped">
    <thead>
        <tr>
            <th>Clave</th>
            <th>CURP</th>
            <th>Nombre Completo </th>
            <th>Edad </th>
            <th>Telefono </th>
            <th>Correo Electrónico </th>
            <th>Status </th>
            <th>Grado</th>
            <th>Materia</th>
            <th>Número de Loggeos</th>
            <th> Cambiar Status </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for j in prof_e %}
            <td>{{ j.0 }}</td>
            <td>{{ j.1 }}</td>
            <td>{{ j.2 }} {{ j.3 }} {{ j.4 }}</td>
            <td>{{ j.5 }}</td>
            <td>{{ j.6 }}</td>
            <td>{{ j.7 }}</td>
            <td>{{ j.9 }}</td>
            <td>{{ j.10 }}</td>
            <td>{{ j.11 }}</td>
            <td>{{ j.12 }}</td>
            <td><a href="/alta_prof_esp/{{ j.0 }}" class="waves-effect waves-light btn-small blue">Alta</a>
                <a href="/baja_prof_esp/{{ j.0 }}" class="waves-effect waves-light btn-small deep-orange">Baja</a>
                <a href="/suspender_prof_esp/{{ j.0 }}" class="waves-effect waves-light btn-small yellow accent-4">Suspender</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/admin">Regresar</a> {% endblock %}